#yawp_weather_widget {
	text-align: center;
	width: 200px;
	margin: 50px auto 50px;
	float: none;
}

.yawp_weather {
	font-size:18px;
	padding:10px 0px 10px;
}

#yawp_temperature_section {
	font-size:42px;
	vertical-align: middle;
}

#yawp_city_name_section {
	font-size:25px;
}

#yawp_weather_icon_section {
	background-repeat:no-repeat;
	background-position:center;
	background-origin:content-box;
	padding:0px; 
}